<button mat-button matTooltip="Ir a inicio" routerLink="/" style="font-size: 1rem;">Inicio</button>
<button mat-button mat-flat-button color="primary" *ngIf="!isLogin" matTooltip="Ir a registro" routerLink="/registro"
  style="font-size: 1rem;">Registrarse</button>
<button mat-button *ngIf="!isLogin" matTooltip="Ir a login" routerLink="/ingresar"
  style="font-size: 1rem;">Ingresar</button>
<button mat-button *ngIf="isLogin" [matMenuTriggerFor]="menu" style="font-size: 1rem;"
  matTooltip="Desplegar menú">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">Ver productos</button>
  <button mat-menu-item routerLink="/usuarios">Usuarios</button>
  <button mat-menu-item routerLink="/reportes">Reportes</button>
</mat-menu>
